<br/>
<div class="row">
	<div class="span4">
		<div class="well">
			<fieldset>
				<legend>Sign in</legend>
				<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				  <%= f.input :email, autofocus: true %>
				  <%= f.input :password %>
				  <% if devise_mapping.rememberable? -%>
				 	<%= f.input :remember_me, as: :boolean, inline_label: 'Remember Me', label: false %>
				  <% end -%>
				  <%= f.button :submit, 'Sign In', class: 'btn btn-primary btn-block' %>
				<% end %>
				<%= render 'devise/shared/links' %>
			</fieldset>
		</div>
	</div>
	<div class="span8">
		<h1>Signing in is easy, and secure.</h1>
        <h3>Treebook Social Network</h3>
        <p>
          <%= image_tag 'http://www.beginningiosdev.com/wp-content/uploads/2012/05/screen-shot-2011-10-17-at-2-56-25-am.png', class: 'img-rounded pull-right' %>
          Irony consectetur pug minim, sint fap anim ugh cosby sweater lo-fi deep v. Umami mcsweeney's narwhal actually terry richardson. Aliquip banjo you probably haven't heard of them Austin kogi in, pariatur put a bird on it portland meggings tofu fanny pack veniam. Officia quis brunch cray, fashion axe craft beer ugh plaid. Meggings disrupt intelligentsia, pork belly sustainable synth proident literally magna seitan before they sold out. Four loko anim officia, consectetur godard single-origin coffee chillwave gentrify tousled ethnic vegan vice eiusmod. Cupidatat flexitarian craft beer church-key quinoa, twee skateboard direct trade sriracha typewriter tattooed chambray sartorial dolore tempor.
        </p>
	</div>
</div>
